*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.promobar{
    height: 32px;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}


@media screen and (max-width: 440px){
    .promobar{
        font-size: 10px;
    }
}